   	   /* NAVBAR STYLING */
   	   .navbar-default{
		background-color: rgba(106, 139, 52, 1);
/*		box-shadow: 12px 8px 15px -4px rgba(106, 139, 52, 0.8);*/
   	   }

	   .nav.navbar-nav li a {
    	color: white;
		}

		.page-header{
			margin-top: 0px;
			margin-bottom: -10px;
/*			box-shadow: 12px 15px 15px -4px rgba(106, 139, 52, 0.8);*/
		}

		.dropdown-menu a{
    		color: black !important;
		}

		.navbar-right {
			padding-right: 5px;
		}


		/*MAIN CONTENT STYLING */

			.main {
				color: black;
			}

			.main p {
				text-indent: 50px;
			}

			body {
				background-color: beige;
				background-image: url("../img/cardboard.png");
			}

			.bt-footer{
				text-align: center;
				background-color: rgba(106, 139, 52, 1);
				border: 0;	
			}

	

			#myCarousel{
				margin-top: 5px;
				width: 345px;
				height: 264px;
				margin-left: 10px;
			}

			.bt-calender{
				height: 264px;
				width: 353px;
				margin-left: -15px;
				padding-left: 10px;
			}

			.carousel-inner > .item > img {
    			margin: 0 auto;
			}

			.bt-body{
				background-image: url("../img/subtle_feathers.png");
				margin-left:auto;
				margin-right: auto;
/*				box-shadow: 12px 0px 15px -4px rgba(106, 139, 52, 0.8);*/
				margin-top: -20px;
				padding-top: 10px;
			}

			.row{

			}

			.bt-content-background{
				border: 1px solid rgba(0, 0, 0, 0.2);
				border-radius: 2px 2px 2px 2px;
				background-color: rgba(255, 255, 255, 0.5);
				box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.75);
				padding: 10px;

			}

			.panel{
/*				box-shadow: 12px -5px 15px -4px rgba(106, 139, 52, 0.8);*/
			}

			.img-reset{
				margin-top: 12px;
				margin-bottom: 5px;
				margin-left: 8px;
			}

			.bt-member-header{
				padding-right:120px;
			}