   	   @import url('https://fonts.googleapis.com/css?family=Eagle+Lake');

   	   /*Header Style*/
		.page-header{
			margin-top: 0px;
			margin-bottom: -10px;
			background: no-repeat center center url("../img/rose-banner2.jpg");
			height: 300px;
		}

		.header-text{
			color: rgb(229, 227, 215);
			font-size: 6em;
			padding-top: 2%;
			padding-left: 2%;
			margin-bottom: -4%;
			font-family: 'Eagle Lake';
			text-shadow: 1.5px 1.5px pink;
		}

   	   /* NAVBAR STYLING */
   	   .navbar-default{
		background-color: rgba(106, 139, 52, 1);
   	   }

	   .nav.navbar-nav li a {
    	color: white;
		}

		.dropdown-menu a{
    		color: black !important;
		}

		.navbar-right {
			padding-right: 5px;
		}


		/*MAIN CONTENT STYLING */

			.main {
				color: black;
			}

			.main p {
				text-indent: 50px;
			}

			body {
				background-color: beige;
				background-image: url("../img/cardboard.png");
			}

			.bt-footer{
				text-align: center;
				background-color: rgba(106, 139, 52, 1);
				border: 0;	
			}

	

			#myCarousel{
				margin-top: 5px;
				width: 345px;
				height: 264px;
				margin-left: 10px;
			}

			.bt-calender{
				height: 264px;
				width: 353px;
				margin-left: -15px;
				padding-left: 10px;
			}

			.carousel-inner > .item > img {
    			margin: 0 auto;
			}

			.bt-body{
				background-image: url("../img/subtle_feathers.png");
				margin-left:auto;
				margin-right: auto;
				margin-top: -20px;
				padding-top: 10px;
			}

			.row{

			}

			.bt-content-background{
				border: 1px solid rgba(0, 0, 0, 0.2);
				border-radius: 2px 2px 2px 2px;
				background-color: rgba(255, 255, 255, 0.5);
				box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.75);
				padding: 10px;

			}

			.panel{
			}

			.img-reset{
				margin-top: 12px;
				margin-bottom: 5px;
				margin-left: 8px;
			}

			.bt-member-header{
				padding-right:120px;
			}

			.bt-login-dropdown{
				padding: 10px;
			}